body {
    background-color: lightpink;
    color: darkmagenta;
    font-family: sans-serif;
    padding: 40px;
}

h1 {
    color: darkmagenta;
    text-align: center;
}

.monaco-editor {
  border: 12px solid transparent;
  border-image: repeating-linear-gradient(
    45deg,
    red 0 10px,
    pink 10px 20px
  ) 20;
}